<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,300|Lato:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
	<script src="/static/js/responsive-nav.js"></script>
	<link rel="stylesheet" href="/static/css/fixed-responsive-nav.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<title>Stella Odewumi</title>
</head>
<body>
	<header>
		<div class="spacing spacing--nav">
			<a href="#home" class="logo animation fade-up" data-scroll>Software Engineer</a>

			<nav class="nav-collapse animation fade-up">
				<ul>
		          <li class="menu-item active"><a href="#home" data-scroll>Home</a></li>
		          <li class="menu-item"><a href="#description" data-scroll>About</a></li>
		          <li class="menu-item"><a href="#portfolio" data-scroll>Work</a></li>
		          <li class="menu-item"><a href="#contact" data-scroll>Contact</a></li>
				</ul>
			</nav>
		</div>
	</header>

	<section id="home" class="hero">
		<div class="spacing flex">
			<div>
				<h1 class="animation fade-right">Stella</h1>
				<h1 class="animation fade-left">Odewumi</h1>
			</div>
		</div>
	</section>

	<section id="description" class="description">
		<div class="spacing spacing--description">
			<p class="blurb">
				Hello! I'm Stella. I'm a software engineer who specializes in
				building full-stack and front-end applications.
			</p>

			<div class="columns columns--description">
				<div>
					<p>
						During my studies at Wellesley college, I co-founded an online menswear
						company for fashionable men who had trouble finding affordable clothing.
						During this process, I taught myself web development and took programming
						classes to build the site. I realized I love web development because it
						enables me to express my creativity while solving technically challenging problems.
					</p>	
				</div>
				<div>
					<p>
						I am proficent in JavaScript, JQuery, Socket.IO, HTML5, CSS3, Bootstrap
						in the front-end, and  Python, Flask, Pyramid,  SQLAlchemy, SQLite in the back-end.
					</p>
					<p>
						Want to learn more? Feel free to visit my Linkedin:
						<a href="https://www.linkedin.com/in/stellaodewumi" target="_blank">
						here
						</a>.
					</p>
				</div>
		</div>
	</section>

	<section id="portfolio" class="portfolio">
		<div class="spacing">
			<h2>My Work</h2>

			<div class="columns columns--portfolio">
				<div>
					<img src="../static/img/careers-yelp.png" alt="Screenshot of www.yelp.com/careers">
				</div>

				<div>
					<h3>Yelp Careers' Page</h3>
					<p>
						<em>Tech Stack: Python, Pyramid, Cheetah, HTML, SCSS</em>
					</p>
					<p>
						I built the redesigned careers website in order to increase the number of
						Yelp job applicants. With this application, users can search for jobs by
						location, department, or keywords, and apply using the Lever API.
						<span>
							<a href="http://www.yelp.com/careers/job-openings" target="_blank"> View On Yelp</a>
						</span>
					</p>
				</div>
			</div>

			<div class="columns columns--portfolio">
				<div>
					<img src="../static/img/gutenhub.gif" alt="Screenshot gif of Gutenhub website">
				</div>

				<div>
					<h3>Gutenhub</h3>
					<p>
						<em>Tech Stack: Python, Flask, HTML, CSS, JavaScript, Socket.IO, SQLAlchemy, SQLite</em>
					</p>
					<p>
						Gutenhub is an app that allows for collaborative translation of literary works.
						When a user logs into Gutenhub, they are able to choose a book from some of
						the most popular novels on Project Gutenberg&#8212;the oldest digital library
						that focuses on digitizing and archiving books. Along with the API data from
						GoodReads and Amazon Web Services, a description of the books is displayed to
						the user. Through the description page, the user can choose to work on a
						translation project independently or form groups with other members on Gutenhub,
						and together they can translate a work of literature into the language of their choice.

						<span>
							<a href="https://github.com/sodewumi/gutenberg_translate" target="_blank"> View On Github</a>
						</span>
					</p>
				</div>
			</div>

			<div class="columns columns--portfolio">
				<div>
					<img src="../static/img/lunchship.png">
				</div>

				<div>
					<h3>LunchShip</h3>
					<p>
						<em>Tech Stack: Python, Flask, HTML, CSS, Bootstrap and SQLite.</em>
					</p>
					<p>
						During Yelp's 18th hackathon with a team of engineers, built an internal web
						app with an integrated IRC bot that allows Yelp employees to form groups and
						discover new lunch spots and people. A Yelp employee can create a new group
						to go to a specific lunch spot through either the web app or the IRC channel,
						and other employees can join these groups.
						<span>
							<a href="https://github.com/Sahil5/LunchShip" target="_blank"> View On Github</a>
						</span>
					</p>

				</div>
			</div>	
		</div>

	</section>

	<section id="contact" class="contact">
		<div class="spacing">
			<h2>Contact</h2>

			<p>
				Interested in working together? Want to stay in touch? Feel free to reach out at my email,
				stellaodewumi@gmail.com, or these other channels!
			</p>

			<ul>
				<li><a href="mailto:stellaodewumi@gmail.com"><i class="fa fa-envelope"></i> Email</a></li>
				<li><a href="https://github.com/sodewumi" target="_blank"><i class="fa fa-github"></i> Github</a></li>
				<li><a href="https://www.linkedin.com/in/stellaodewumi" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
				<li><a href="https://twitter.com/sodewumi" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
			</ul>
		</div>
	</section>

    <script src="/static/js/fastclick.js"></script>
    <script src="/static/js/scroll.js"></script>
    <script src="/static/js/fixed-responsive-nav.js"></script>
</body>
</html>